<p id="notice"><%= notice %></p>

<h1>Contacts Requests</h1>



    <% @contacts.each do |contact| %>
    <div class="contact">
      <h4><%= link_to contact.name, contact %></h4>
        <h6><%= contact.email %></h4
        
        
        <p><%= contact.comment.truncate(50, separator: ' ') %></p>
        
      
        <%= link_to 'Delete?', contact, method: :delete, data: { confirm: 'Are you sure?' } %>
    
      </div>
    <% end %>
  
<br>


