
<h2 class="main_title">Services</h2>

<div id="services_page">
<div class="row">
<div class="service_tabs col-lg-6 col-md-12">
<div class="card">
<%= image_tag 'princeton', class: 'card-img-top' %>
 
  <div class="card-body">
    <h5 class="card-title">Sales</h5>
    <p class="card-text">
    At Tim's Overhead Doors we use Garaga as our door supplier because of the quality and wide range of styles available. 
    <%= link_to 'Contact us today', contact_us_path %> to get a quote for new or replacement overhead doors, openers, and accessories.
    </p>
    
  </div>
</div>
</div>
<div class="service_tabs col-lg-6 col-md-12">
<div class="card">
<%= image_tag 'brokenspring', class: 'card-img-top' %>
 
  <div class="card-body">
    <h5 class="card-title">Service</h5>
    <p class="card-text">Overhead doors have a lot of moving parts and those parts will wear out over time. Our vans our fully equipped to handle any service issue that might come your way. From broken springs to worn out openers we have your covered.</p>
    
  </div>
</div>
</div>
<div class="service_tabs col-lg-6 col-md-12">
<div class="card">
<%= image_tag 'sidewindows', class: 'card-img-top' %>
 
  <div class="card-body">
    <h5 class="card-title">Installation</h5>
    <p class="card-text">We install what we sell and anything else you may need to be installed that wasn't purchased from us. We have the top installers in the business and stand behind our work 100%.</p>
   
  </div>
</div>
</div>
<div class="service_tabs col-lg-6 col-md-12">
<div class="card">
<%= image_tag 'framing', class: 'card-img-top' %>
 
  <div class="card-body">
    <h5 class="card-title">Carpentry</h5>
    <p class="card-text">Do you want to reframe garage to have two doors instead of one? Or just want to replace the metal cladding on the outside of your door. We have carpenters on staff to make the processs seamless. </p>
  
  </div>
</div>
</div>
</div>

</div>



