<!DOCTYPE html>
<html>
  <head>
    <title>Tim's Overhead Doors</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="container"> 
  <div class="row">
<div class="col-3">
  <div class="brand">
  <%= image_tag('timsdoors.png') %>
</div>
</div>
<div class="col-9">
  <ul class="nav justify-content-end">
  <li class="nav-item ">
    <%= link_to('Home', root_path, class: 'nav-link') %>
  </li>
   <li class="nav-item">
  <%= link_to('Services', services_path, class: 'nav-link')%>
  </li>
   <li class="nav-item">
  <%= link_to('Gallery', contact_us_path, class: 'nav-link')%>
  </li>
  
  <li class="nav-item">
  <%= link_to('Contact', contact_us_path, class: 'nav-link')%>
  </li>
  <li class="nav-item">
  <% if user_signed_in? %>
  <% if current_user.admin == true %>
  <%= link_to('Admin Panel', admin_home_path, class: 'nav-link')%>
  <% else %>
  <%= link_to('Customer Dashboard', root_path, class: 'nav-link')%>
  <% end %>
  <% else %>
  <%= link_to('Customer Login', new_user_session_path, class: 'nav-link')%>
  <% end %>
  </li>
 
</ul>
</div>
  
  </div>

 
</div>

     <div class="fullWidthImage">
     
    </div>
    <div class="fullWidthContent">
    <div class="container">
   <main>
   <p class="notice"><%= notice %></p>
  
      
    <%= yield %>
    </main>
    </div>
    </div>
   
  </div>

  <footer>
  <div class="container">
<div class="row">
<div class="col">
<%= image_tag('princeedwardisland.png') %>

<p>100% Island owned and operated. Friendly service 24 hours, 7 days a week. Satisfaction gauranteed.</p>
</div>
<div class="col">
<%= image_tag('garaga.png') %>
<p>Authorized Garaga dealer. Contact us today 
to design you the door that suits your home perfectly. Free quotes and personalized service!</p>
</div>
<div class="col">
<%= render "layout_partials/sign_in" %>
</div>

</div>

</div>
  </footer>
  </body>
</html>
